<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>Add Website</strong>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="animated fadeIn common-bg">
  <form [formGroup]="_websiteForm" (submit)="_submitWebsiteForm()" method="post" novalidate="">
    <button ion-button color="dark" [disabled]="!_websiteForm.valid" type="submit">
      <ion-icon name="checkmark"></ion-icon>&nbsp;Save
    </button>
    <button ion-button color="danger" (click)="_cancel()" type="button">
      <ion-icon name="close"></ion-icon>&nbsp;Cancel
    </button>
    <ion-input formControlName="id" type="hidden"></ion-input>
    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input formControlName="title" type="text"></ion-input>
    </ion-item>
    <ion-item class="error" no-lines no-padding *ngIf="_websiteForm.controls.title.hasError('required') && _websiteForm.controls.title.touched">
        <p ion-text text-wrap>Please Enter Title</p>
    </ion-item>
     <ion-item class="error" no-lines no-padding *ngIf="_websiteForm.controls.title.invalid  && _websiteForm.controls.title.dirty && _websiteForm.controls.title.value!=''">
        <p ion-text text-wrap>Please enter atleast 6 characters.</p>
      </ion-item>
    <ion-item>
      <ion-label floating>URL</ion-label>
      <ion-input formControlName="url" type="text"></ion-input>
    </ion-item>
    <ion-item class="error" no-lines no-padding *ngIf="_websiteForm.controls.url.hasError('required') && _websiteForm.controls.url.touched">
        <p ion-text text-wrap>Please Enter URL</p>
    </ion-item>
    <ion-item class="error" no-lines no-padding *ngIf="_websiteForm.controls.url.hasError('pattern')  && _websiteForm.controls.url.dirty && _websiteForm.controls.url.value!=''">
        <p ion-text text-wrap>Please enter valid URL.</p>
    </ion-item>
    <ion-item class="help"><p style="color:#8f8f8f;">Ex: http://www.example.com</p></ion-item>
    <div formArrayName="details">
      <div class="repeat-list" *ngFor="let item of _websiteForm.get('details').controls;let i = index;">
        <div [formGroupName]="i">
          <button *ngIf="len.length > 1" type="button" (click)="_removeItem(i)" color="danger" class="close-btn" small float-right ion-button item-end>
            <ion-icon name="close"></ion-icon>
          </button>
          <ion-input type="hidden" formControlName="id"></ion-input>
          <ion-list>
            <ion-item>
              <ion-input type="text" formControlName="username" placeholder="Username"></ion-input>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item>
              <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item>
              <ion-input type="text" formControlName="comments" placeholder="Comments"></ion-input>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
    <button class="btn" type="button" (click)="_addNew()" ion-button color="light">
      <ion-icon name="add"></ion-icon>&nbsp;Add New
    </button>
  </form>
</ion-content>