<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title  *ngIf="!_searchField">
      <strong>Bank</strong>
    </ion-title>
    <ion-searchbar [(ngModel)]="searchTerm" (ionCancel)="clearFilter($event)" (ionInput)="setFilteredItems($event)" *ngIf="_searchField" class="searchfield" type="text" placeholder="Search..."></ion-searchbar>
    <ion-buttons end>
      <button ion-button *ngIf="!_searchField" tappable (click)="_showSearchInput()">
        <ion-icon name="ios-search"></ion-icon>
      </button>
      <button *ngIf="_searchField" ion-button tappable (click)="_hideSearchInput()">
        <ion-icon name="ios-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
  <ion-card *ngFor="let b of bank" (click)="showAction(b)">
    <img src="assets/icon/bank/{{getImg(b.name)}}"/>
    <div class="card-title">{{b.name}}</div>
    <div class="card-subtitle">{{b.branch}}</div>
  </ion-card>
  <ion-list *ngIf="bank==''">
    <ion-item text-center>No Records Found.</ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button (click)="_addBank()" ion-fab color="danger"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>