<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>Cards</strong>
    </ion-title>
    <!-- <ion-searchbar [(ngModel)]="searchTerm" (ionCancel)="clearFilter($event)" (ionInput)="setFilteredItems($event)" *ngIf="_searchField" class="searchfield" type="text" placeholder="Search..."></ion-searchbar>
    <ion-buttons end>
      <button ion-button tappable (click)="_showSearchInput()">
        <ion-icon name="ios-search"></ion-icon>
      </button>
      <button *ngIf="_searchField" ion-button tappable (click)="_hideSearchInput()">
        <ion-icon name="ios-close-circle"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>
<ion-content padding class="animated fadeIn common-bg">
  <ion-list>
    <ion-item-sliding  *ngFor="let c of cards" [class]="c.color">
      <ion-item>
      <div class="top-header">
        <div class="card-type" float-left>
            {{c.card_type}}
        </div>
        <div class="bank-name" float-right>
          {{c.bank}}
        </div>
      </div>
      <div class="acc-number">
          {{convertStr(c.acc_no)}}
      </div>
      <div class="detail-div">
          <div class="expire-div" float-left>
            Valid Through {{c.month}}/{{c.year}}
          </div>
          <div class="pin-div" float-right text-right>
            <p>PIN ***</p>
            <p>CVV ****</p>
          </div>
      </div>
      <div class="bottom-div">
          <div class="holder-name" float-left>
            {{c.holder_name}}
          </div>
          <div class="card-type" float-right>
            <img src="assets/icon/cards/{{getImage(c.card_pay)}}">
          </div>
      </div>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="dark"  (click)="_gotoCardsAdd(c)">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
        <button ion-button color="danger" (click)="_delCard(c.id)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="cards==''">
    <ion-item text-center>No Records Found.</ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button (click)="_gotoCardsAdd()" ion-fab color="danger"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>